body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #1a1a1a; /* Dark background */
    color: #f5f5f5; /* Light text */
}

#quiz-container {
    background-color: #262626; /* Main section background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

button {
    background-color: #4a2c2a; /* Dark red-brown */
    color: #f5f5f5; /* Light text */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #FFCC00; /* Hover color */
    text-shadow: 1px 1px 2px #000; /* Text shadow */
}

.hidden {
    display: none;
}
